body{
background: url("../images/Black%20Widow%20(TBA).png") no-repeat;
background-position: center;
background-size: cover;
height: 100vh;
}
.Header_area .navbar{
    margin: 0px 25px;
}
.Header_area .navbar .navbar-nav .nav-item .nav-link{
    color: white;
    margin: 0px 20px; 
}
.main_area .center-text {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
.main_area .center-text .main_title h1{
    font-size: 80px;
    color: white;
    margin-bottom: 100px;
}
.main_area .center-text .search_btn{
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
.main_area .center-text .main_body{
    color: white;
    padding: 50px;
}